<body class="aboutpg">


﻿@{
    ViewData["Title"] = "About";
}
<h2 class="center">@ViewData["Title"]</h2>


<p class="center">This is a cool one page website
<br>Where you order food on the first Page
<br> And you dont need to worry about anything.
<br>Oh BTW, You have to come pick it up ;)
</p>


</body>
