<body class="contactInf">

    <div class="container">

        <div class="center">
            <h3> If you have any questions, you can call us, phone us or fill out the form on the right</h3>
            <h3> Find us: </h3>
            <address> 555 Robson Street, Vancouver</address>
            <h4> Hours<br> </h4>
            <div id="ol">
                <ol>
                    <li>Mon: 8:00 am - 10:00 pm<br></li>
                    <li>Tue: 8:00 am - 10:00 pm<br></li>
                    <li>Wed: 8:00 am - 10:00 pm<br></li>
                    <li>Thu: 8:00 am - 10:00 pm<br></li>
                    <li>Fri: 8:00 am - 10:00 pm<br></li>
                    <li>Sat: 8:00 am - 10:00 pm<br></li>
                    <li>
                        Sun: 8:00 am - 10:00 pm<br>
                    </li>
                </ol>
            </div>
            <h3> Call us:</h3>
            <address>
                Tel: (250) 554-1222
            </address>
            <h3> Email us: </h3>
            <address><a href="mailTo: megapizza@gmail.com"> megapizza@gmail.com </a></address>
        </div>

    </div>
</body>
